body {
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

header,
footer {
    padding: 10px;
    color: rgb(94, 94, 94);
    background-color: rgb(116, 116, 116)24, 49, 49);
}

footer {
    text-align: center;
}

section {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}

article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.content-1 {
    margin-left: 90px;
}

img {
    padding: 30px;
}